<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.7.0/themes/black/easyui.css">
    <link rel="stylesheet" type="text/css" href="/jquery-easyui-1.7.0/themes/icon.css">
    <script type="text/javascript" src="/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
    <title>文件上传</title>
</head>
<body>
    <form id="upForm" enctype="multipart/form-data" method="post" action="/upload" >
        <div style="margin-bottom:20px">
            <input class="easyui-filebox easyui-validatebox" labelPosition="top" name="fileUpload" id="fileUpload"
                   data-options="buttonText: '选择文件',required:true" style="width:30%">
            <select class="easyui" style="width: 150px">
                <option>小花</option>
                <option>小绿</option>
                <option>米米</option>
                <option>小燕</option>
                <option>小猪</option>
            </select>
        </div>
        <div>
            <input readonly  type="submit" class="easyui-linkbutton" style="width:50%;height: 28px" value="上传"/>
        </div>
    </form>
        <div style="margin-bottom:20px">
            <input id="stuName" type="text" class="easyui-validatebox" labelPosition="top" name="name" id="filedownload"
                   data-options="text: '输入学生姓名查找学生档案'" placeholder="输入学生姓名查找学生档案" style="width:50%">
        </div>
        <div>
            <input id="query" readonly  type="submit" class="easyui-linkbutton" style="width:50%;height: 28px" value="查询"/>
        </div>

    <table id="stu_table" style="visibility: hidden" >
        <thead>
            <tr><th colspan="2">之前上传的文件</th></tr>
        </thead>
        <tbody>
            <tr><td class="stu_name">小花</td><td>小花1.pdf</td></tr>
            <tr><td class="stu_name">小花</td><td>小花2.pdf</td></tr>
            <tr><td class="stu_name">小花</td><td>小花6.pdf</td></tr>
            <tr><td class="stu_name">小花</td><td>小花3.pdf</td></tr>
        </tbody>
    </table>
</body>
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
        <script>
          $(function () {
                $("#query").click(function(){
                  var stuName = $("#stuName").val();
                  $("td").each(function(){
                    var source = $(this).text();
                    var found = source.match(/小.{1}/);
                    $(this).text( source.replace(found,stuName))
                  });
                  $("#stu_table").css('visibility','visible');
                })
          })
        </script>
</html>